.title {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
}

.description {
    animation: hid 1s;
    margin-bottom: 1.25rem;
}

@keyframes hid {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.subTitle {
    width: 100%;
    text-align: center;
    margin-bottom: 1.25rem;
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.list li {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    animation: transf 1s;
}

@keyframes transf {
    0% {
        opacity: 0;
        transform: translateY(calc(var(--i)*(-4.375rem)));
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.list li h3 {
    text-align: center;
}

.item {
    border-radius: 50%;
    width: 6.25rem;
    height: 6.25rem;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

@media ((-webkit-min-device-pixel-ratio: 3) and (min-width: 901px)) or (max-width: 576px) {
    .list {
        flex-direction: column;
        gap: 2rem;
    }
}