.interier {
    height: 70vw;
    background: url('../public/4.jpg') center;
    background-size: cover;
    overflow: auto;
    margin-bottom: 2rem;
}

.slogan {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 2rem;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;

}

.list li {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    flex-grow: 1
}

.imgCont {
    position: relative;
    width: 30rem;
    height: 22.5rem;
}

.text {
    flex: 1;
}


.photo {
    border-radius: 0.625rem;
    box-shadow: 0.3125rem 0.3125rem 0.625rem var(--border);
}

.photo2 {
    border-radius: 0.625rem;
    box-shadow: -0.3125rem 0.3125rem 0.625rem var(--border);
}


.linkCatalogs {
    font-size: 1.1em;
    text-decoration: underline;
    transition: 0.1s;
}

.linkCatalogs:hover {
    font-weight: bold;
}

@media ((-webkit-min-device-pixel-ratio: 3) and (min-width: 901px)) or (max-width: 768px) {
    .list li {
        flex-direction: column;
        width: 100%;
    }

    .secondItem {
        flex-direction: column-reverse !important;
    }

}