.title {
    margin-top: 40px;
    margin-bottom: 20px;
}

.listCollections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.listCollections li {
    text-align: center;
    cursor: pointer;
}