.title {
    margin-top: 40px;
    margin-bottom: 20px;
}

.contactBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    animation: hid 1s;
}

.mapContainer {
    width: 480px;
    height: 360px;
}


@keyframes hid {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.item {
    margin-bottom: 20px;
}

.firstLi {
    margin-bottom: 5px;
}

@media (max-width: 576px) {
    .contactBlock {
        justify-content: flex-start;
    }

    .contactBlock li:nth-child(3) {
        margin: 0px auto;
    }

    .mapContainer {
        width: 90vw;
        height: calc(90vw*0.67);
    }
}