.title {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
}

.contactBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    align-items: center;
    justify-content: space-around;
    animation: hid 1s;
}

.mapContainer {
    width: 30rem;
    height: 22.5rem;
}


@keyframes hid {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.item {
    margin-bottom: 1.25rem;
}

.firstLi {
    margin-bottom: 0.3125rem;
}

@media ((-webkit-min-device-pixel-ratio: 3) and (min-width: 901px)) or (max-width: 576px) {
    .contactBlock {
        justify-content: flex-start;
    }

    .contactBlock li:nth-child(3) {
        margin: 0 auto;
    }

    .mapContainer {
        width: 90vw;
        height: calc(90vw*0.67);
    }
}